<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BIENVENIDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="../../assets/img/sena.png">

  <p>Para poder iniciar sesion en la aplicacion, porfavor utilice una de las cuentas preparadas que le otorgaremos</p>

  <p>Cuenta: master@ionic.com</p>
  <p>Contraseña: masterionic</p>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]="mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="pwd"></ion-input>
  </ion-item>

  <br>

  <ion-button fill="outline" expand="block" (click)="navTabs()">Iniciar Sesion</ion-button>

  

</ion-content>
