<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CREAR DISPOSITIVO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Rellene el formulario para crear un nuevo dispositivo</p>

    <form>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="newDev.name" name="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input type="text" [(ngModel)]="newDev.desc" name="title"></ion-input>
        </ion-item>
    </form><br>
  
  <ion-button fill="clear" expand="full" (click)="crtDev()">Crear</ion-button><br>

  <ion-button fill="clear" expand="full" (click)="navTab()">Volver</ion-button>

</ion-content>
