<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      DISPOSITIVOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--BOTON PARA CREAR DISPOSITIVOS-->
  <br>
  <ion-button fill="outline" expand="block" (click)="navCreate()">Crear Dispositivo</ion-button>

  <!--lISTA QUE MUESTRA NUESTROS DISPOTIVOS *NGFOR ES UNA LOOP UNICO DE ANGULAR QUE LLAMAMOS CUANDO QUEREMOS 
  MOSTRAR LOS OBSEVABLES, EN ESTE CASO ESTAMOS LLAMANDO A "d" DE LA LISTA "Dev$", POR CADA DISPOSITIVO CREAMOS UN
  ITEM QUE CONTIENE EL NOMBRE DEL DISPOSITIVO, AL MISMO TIEMPO CADA ITEM PUEDE SELECCIONARSE Y NO LLEVARA A LA PAGINA 
  DISPOSITVO CON SU RESPECTIVA LLAVE -->
  <ion-list *ngFor="let d of Dev$ | async">
    <!-- POR CADA DISPOSITIVO EN LA LISTA DE DISPOSITIVOS CREAR UN ITEM CON EL NOMBRE DE DISPOSITIVO-->
    <ion-item (click)="onItem(d)">
       {{ d.name }} 
    </ion-item>
  </ion-list>

</ion-content>
