<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      INFORMARCION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<p>Muchas gracias por hacer uso de nuestra aplicacion!</p>

<h4>¿Que es este proyecto?</h4>
<p>El programa que usted esta utilizando ahora mismo es un aplicativo que utiliza el poder 
  del IoT (Internet of Things), que sirve para poder controlar dispositivos inteligentes que 
  realizaran acciones tales como controlar corriente o tomar datos del ambiente
</p>

<h4>¿Que objetivo tiene este proyecto?</h4>
<p>Este programa quiere mostar al usuario las capacidades del IoT en con ejemplos sencillos, 
  tales como controlar una bombilla, medir la temperatura o sentir movimiento, aunque el aplicativo 
  actual es bastante sencillo, uno se puede hacer una idea de sus posibilidades. Todo esto se creo 
  con la idea de controlar un ambiente del SENA y poder controlar todo con un simple movil
</p>

<h4>¿Que se utilizo para este proyecto?</h4>
<p>Para la programacion de este aplicativo se utilizaron varios servicios y software, los cuales son:</p>

<ul>
  <li>Ionic</li>
  <p>Framework de Angular para la creacion de aplicaciones moviles, con la cual este aplicativo es posible</p>
  <li>Firebase</li>
  <p>Base de datos en tiempo real NOSQL, nuestra base de datos y API estan basados en el servicion gratuito de google, 
    que nos permite trabajar con datos en tiempo real
  </p>
  <li>Node-Red</li>
  <p>Servicio open-source y gratuito que sirve para poder pasar datos y acciones de un dispositivo a otro, mediante
    la creacion de un servidor inalambrico </p>
  <li>Raspbery PI y ESP32</li>
  <p>Componentes fisicos del proyecto, son los encargados de funcionar como servidor(Raspberry) y como receptor  
    de informacion y ejecutor de acciones(ESP32) </p>
</ul>         

</ion-content>
